/* pie de página */
footer {
	position: absolute;
	background-color: $background_negro;
	height: max-content;
	width: 100%;
	left: 0;
	text-align: center;
	#rizha {
		margin-top: 2%;
		margin-bottom: 2%;
	}
	.redes {
		width: 16%;
		margin: auto;
		display: flex;
		justify-content: space-between;
		margin-bottom: 2%;
		img {
			width: 50%;
			padding: 10%;
			border-radius: 20%;
			background-color: $background_blanco;
			&:hover {
				background-color: $background_verde;
			}
		}
	}
	.discografia {
		display: flex;
		width: 35%;
		margin: auto;
		justify-content: space-evenly;
        padding-bottom: 2%;
		a {
			text-decoration: none;
			color: $color_blanco;
			&:hover {
				color: $color_verde;
			}
			img {
				&:hover {
					background-color: $background_verde;
					border-radius: 20%;
				}
			}
		}
	}
}
@media screen and (max-width: 900px) {
	footer {
		.redes {
			width: 30%;
		}
		.discografia {
			width: 50%;
		}
	}
}
@media screen and (max-width: 750px) {
	footer {
		.redes {
			width: 30%;
		}
		.discografia {
			width: 45%;
		}
	}
}
@media screen and (max-width: 599px) {
	footer {
		.redes {
			width: 40%;
		}
		.discografia {
			width: 55%;
		}
	}
}
