/* pie de página */
footer {
	position: absolute;
	background-color: $background_negro;
	height: max-content;
	width: 100%;
	left: 0;
	text-align: center;
	#rizha {
		margin-top: 2%;
		margin-bottom: 2%;
	}
	.redes {
		width: 22%;
		margin: auto;
		display: flex;
		justify-content: space-around;
		margin-bottom: 2%;
		img {
			padding: 10%;
			border-radius: 20%;
			background-color: $background_blanco;
			&:hover {
				background-color: $background_verde;
			}
		}
	}
	.discografia {
		display: flex;
		width: max-content;
		margin: auto;
		gap: 5%;
        padding-bottom: 2%;
		a {
			text-decoration: none;
			color: $color_blanco;
			&:hover {
				color: $color_verde;
			}
			img {
				&:hover {
					background-color: $background_verde;
					border-radius: 20%;
				}
			}
		}
	}
}
