.main_galeria {
	padding: 5%;
	padding-top: 3%;
}
.row {
	margin-bottom: 8%;
	.card {
		background-color: $background_magenta_oscuro !important;
		color: $color_lila_claro;
		padding: 2%;
	}
	.card-title {
		color: $color_verde;
	}
}

.icon {
	&:hover {
		color: $color_blanco;
	}
}
.carousel {
	padding: 5%;
	background-color: $background_magenta_oscuro;
	// .carousel-inner {
	// 	margin-top: 5%;
	// 	width: max-content;
	// 	margin: auto;
	// }
}

@media screen and (max-width: 767px) {
	.carousel-item > div {
		display: none;
	}
	.carousel-item > div:first-child {
		display: block;
	}
}