.main_galeria {
	padding: 5%;
	padding-top: 3%;
}
.row {
	margin-bottom: 8%;
	.card {
		background-color: $background_magenta !important;
		color: $color_lila_claro;
		padding: 2%;
	}
	.card-title {
		color: $color_verde;
	}
}

.icon {
	&:hover {
		color: $color_blanco;
	}
}
.carousel {
	padding: 5%;
	background-color: $background_magenta_oscuro;
	.indicator {
		z-index: 0;
		border: 2px solid #DEB4BD;
		background-color: $background_morado;
		color: $color_lila_claro;
		align-items: center;
		padding: 10px;
	}
	.carousel-inner {
		margin-top: 4%;
	}
}
