/* .container {
		width: 1170px;
	} */
/* .container {
		width: 970px;
	} */
/* .container {
		width: 750px;
	} */
/* para pasar de elemento */
.main_galeria {
	padding: 2%;
	padding-top: 0%;
}
.container {
	position: relative;
	background-color: $background_magenta;
	padding: 2%;
	padding-top: 2%;
	.float-end {
		padding: 5%;
	}
	.indicator {
		border: 2px solid #DEB4BD;
		color: $color_lila;
		padding: 3px 6px 3px 6px;
		&:hover {
			background-color: $background_morado;
		}
	}
	.carousel-inner {
		.carousel-item.active {
			display: flex;
		}
		.carousel-item-next {
			display: flex;
		}
		.carousel-item-prev {
			display: flex;
		}
		.carousel-item-end {
			transform: translateX(0);
		}
		.carousel-item-start {
			transform: translateX(0);
		}
	}
}
.icon {
	&:hover {
		color: $color_blanco;
	}
}
@media (min-width: 768px) {
	.container {
		.carousel-inner {
			.carousel-item-end.active {
				transform: translateX(25%);
			}
			.carousel-item-next {
				transform: translateX(25%);
			}
			.carousel-item-start.active {
				transform: translateX(-25%);
			}
			.carousel-item-prev {
				transform: translateX(-25%);
			}
		}
	}
}
@media (max-width: 767px) {
	.container {
		.carousel-inner {
			.carousel-item {
				>div {
					display: none;
					&:first-child {
						display: block;
					}
				}
			}
		}
	}
}
