/* importamos el resto de estilos css */
// @import "body.css";
// @import "header.css";
// @import "footer.css";

.main_gira {
	height: 70vh;
}
.info {
	width: 80%;
	background-color: $background_magenta_oscuro;
	padding: 2%;
	margin-left: auto;
	margin-right: auto;
}
