/* importamos el resto de estilos css */
// @import "body.css";
// @import "header.css";
// @import "footer.css";

.main_musica {
	padding: 2%;
    h2 {
        margin-left: 3%;
    }
}
.albumes {
	width: 90%;
	display: flex;
	flex-wrap: wrap;
	text-align: center;
	padding-bottom: 4%;
	gap: 8%;
	justify-content: center;
	margin: auto;
}
.eps {
	width: 90%;
	display: flex;
	flex-wrap: wrap;
	text-align: center;
	padding-bottom: 4%;
	gap: 8%;
	justify-content: center;
	margin: auto;
}
.singles {
	width: 90%;
	display: flex;
	flex-wrap: wrap;
	text-align: center;
	padding-bottom: 4%;
	gap: 8%;
	justify-content: center;
	margin: auto;
}
.canciones_album {
	width: 90%;
	display: flex;
	flex-wrap: wrap;
	text-align: center;
	padding-bottom: 4%;
	gap: 8%;
	justify-content: center;
	margin: auto;
	img {
		width: 50px;
	}
}
.canciones_ep {
	width: 90%;
	display: flex;
	flex-wrap: wrap;
	text-align: center;
	padding-bottom: 4%;
	gap: 8%;
	justify-content: center;
	margin: auto;
	img {
		width: 50px;
	}
}
.album {
	padding: 1%;
}
.ep {
	padding: 1%;
}
.portada {
	background-color: $background_magenta;
	border-radius: 10%;
	padding: 10%;
	margin-top: 1%;
	width: max-content;
	&:hover {
		background-color: $background_morado;
	}
	a {
		text-decoration: none;
		color: $color_lila;
	}
	img {
		width: 200px;
		margin: auto;
	}
}
.ver_spotify {
	margin-top: 8%;
	margin-left: 25%;
	margin-bottom: 15%;
	border-radius: 10%;
	a {
		background-color: $background_magenta;
		border: 4px solid #65F222;
		border-radius: 30%;
		color: $color_verde;
		font-family: $font_titulos;
		font-size: 13px;
		text-decoration: none;
		padding: 3%;
		&:hover {
			background-color: $background_morado;
		}
	}
}
.single {
	width: 40%;
	display: flex;
	background-color: $background_magenta;
	padding: 0.5%;
	margin-top: 1%;
	p {
		margin: auto;
	}
	img {
		width: 50px;
	}
}
.cancion {
	width: 40%;
	display: flex;
	background-color: $background_magenta;
	padding: 0.5%;
	margin-top: 1%;
	p {
		margin: auto;
	}
}
@media screen and (max-width: 745px) {
	.single {
		width: 80%;
	}
	.cancion {
		width: 80%;
	}
}
