.main_musica {
	padding: 2%;
	h2 {
		margin-left: 3%;
	}
}
.albumes {
	width: 90%;
	display: flex;
	flex-wrap: wrap;
	text-align: center;
	padding-bottom: 4%;
	gap: 8%;
	justify-content: center;
	margin: auto;
}
.eps {
	width: 90%;
	display: flex;
	flex-wrap: wrap;
	text-align: center;
	padding-bottom: 4%;
	gap: 5%;
	justify-content: center;
	margin: auto;
}
.singles {
	width: 90%;
	display: flex;
	flex-wrap: wrap;
	text-align: center;
	padding-bottom: 4%;
	gap: 5%;
	justify-content: center;
	margin: auto;
}
.canciones_album {
	width: 90%;
	display: flex;
	flex-wrap: wrap;
	text-align: center;
	padding-bottom: 4%;
	gap: 8%;
	justify-content: center;
	margin: auto;
}
.canciones_ep {
	width: 90%;
	display: flex;
	flex-wrap: wrap;
	text-align: center;
	padding-bottom: 4%;
	gap: 8%;
	justify-content: center;
	margin: auto;
}
.album {
	background-color: $background_magenta_oscuro;
	border-radius: 10%;
	padding: 3%;
	padding-bottom: 2%;
	margin-top: 1%;
	width: max-content;
	&:hover {
		background-color: $background_morado;
	}
	a {
		text-decoration: none;
		color: $color_lila_claro;
	}
}
.ep {
	background-color: $background_magenta_oscuro;
	border-radius: 10%;
	padding: 3%;
	padding-bottom: 2%;
	margin-top: 1%;
	width: max-content;
	&:hover {
		background-color: $background_morado;
	}
	a {
		text-decoration: none;
		color: $color_lila_claro;
	}
}
.ver_spotify {
	margin-top: 8%;
	margin-left: 25%;
	margin-bottom: 15%;
	border-radius: 10%;
	a {
		background-color: $background_magenta_oscuro;
		border: 4px solid #65F222;
		border-radius: 30%;
		color: $color_verde;
		font-family: $font_titulos;
		font-size: 13px;
		text-decoration: none;
		padding: 3%;
		&:hover {
			background-color: $background_morado;
		}
	}
}
.single {
	width: 40%;
	display: flex;
	background-color: $background_magenta_oscuro;
	padding: 0.5%;
	margin-top: 1%;
	p {
		margin: auto;
	}
}
.cancion {
	width: 40%;
	display: flex;
	background-color: $background_magenta_oscuro;
	padding: 0.5%;
	margin-top: 1%;
	p {
		margin: auto;
	}
}
@media screen and (max-width: 745px) {
	.album {
		padding: 5%;
	}
	.ep {
		padding: 5%;
	}
	.single {
		width: 80%;
	}
	.cancion {
		width: 80%;
	}
}