.tienda_main {
	padding: 2%;
}
.categorias {
	padding-top: 2%;
	ul {
		display: flex;
		flex-wrap: wrap;
		text-align: center;
		gap: 3%;
		justify-content: center;
		list-style: none;
		padding: 0%;
        li {
            width: 13%;
        }
	}
}
.icono {
	background-color: $background_magenta_oscuro;
	border-radius: 50%;
	padding: 10%;
	width: max-content;
	margin: auto;
}
#active {
	background-color: $background_morado;
}
.icono {
    &:hover {
        background-color: $background_morado;
    }
}
.productos {
	padding-top: 2%;
}
.producto {
	width: 22%;
}
@media screen and (max-width: 900px) {
    .categorias {
        ul {
            li {
                width: 16%;
            }
        }
    } 
}
@media screen and (max-width: 750px) {
	.categorias {
		ul {
			gap: 2%;
            li {
                width: 18%;
            }
		}
	}
}
@media screen and (max-width: 599px) {
	.categorias {
		ul {
			gap: 2%;
            li {
                width: 30%;
            }
		}
        h2 {
            font-size: 20px;
        }
	}
}