$font_titulos: 'Fruktur';
$font_texto: 'Baloo 2';

$color_blanco: #FFFFFF;
$color_verde: #65F222;
$color_lila_claro: #DEB4BD;

$background_negro: black;
$background_blanco: #FFFFFF;
$background_verde: #65F222;

$background_magenta_oscuro: #1D0E19;
$background_morado: #6a1e5b;