// header
$color_blanco: #FFFFFF;
$color_verde: #65F222;
$font_titulos: 'Fruktur';
$background_negro: black;
$background_morado: #6a1e5b;

    
// index
// $color_1: #65F222;
// $font-family_1: 'Fruktur';
$background_magenta: #1D0E19;
$background-color_2: #6a1e5b;


// musica
$color_lila: #DEB4BD;
// $color_2: #65F222;
// $font-family_1: 'Fruktur';
// $background-color_1: #1D0E19;
// $background-color_2: #6a1e5b;


//tienda
// $background-color_1: #1D0E19;
// $background-color_2: #6a1e5b;


// gira
// $background-color_1: #1D0E19;


// galeria
// $background-color_1: #1D0E19;


// footer
// $color_1: #FFFFFF;
// $color_2: #65F222;
// $background-color_1: #000000;
$background_blanco: #FFFFFF;
$background_verde: #65F222;


// body
// $color_1: #DEB4BD;
// $color_2: #65F222;
$font_texto: 'Baloo 2';
// $font-family_2: 'Fruktur';
// $background-color_1: #1D0E19;
// $background-color_2: #6a1e5b;
