@charset "UTF-8";
@import "https://fonts.googleapis.com/css2?family=Fruktur&display=swap";
@import "https://fonts.googleapis.com/css2?family=Baloo+2&display=swap";
/* encabezado con logo, menú y call-to-action */
/* 
@media screen and (max-width: 599px) { 
    .menu ul li{
        font-size: 14px;
    }

    #compra a{
        font-size: 12px;
    }
} */
header {
  position: fixed;
  z-index: 1;
  width: 100%;
  height: -moz-max-content;
  height: max-content;
  background-color: black;
  color: #FFFFFF;
  display: flex;
  top: 0%;
  align-items: center;
}

.menu {
  margin: auto;
  display: block;
}
.menu ul {
  display: flex;
  padding-left: 0%;
}
.menu ul li {
  list-style: none;
  font-family: "Fruktur";
  font-size: 26px;
  font-weight: bold;
  text-transform: uppercase;
  width: 5em;
  text-align: center;
}
.menu ul li a {
  text-decoration: none;
  color: #FFFFFF;
}
.menu ul li a:hover {
  color: #65F222;
}
.menu .active a {
  color: #65F222;
}

.menu_responsive {
  display: none;
}
.menu_responsive ul li {
  list-style: none;
  font-family: "Fruktur";
  font-size: 26px;
  font-weight: bold;
  text-transform: uppercase;
  width: 5em;
  text-align: center;
}
.menu_responsive ul li a {
  text-decoration: none;
  color: #FFFFFF;
}
.menu_responsive ul li a:hover {
  color: #65F222;
}
.menu_responsive .active a {
  color: #65F222;
}

.icon {
  display: none;
  color: #FFFFFF;
  font-size: 30px;
}

#compra {
  width: -moz-max-content;
  width: max-content;
  margin-right: 1%;
}
#compra a {
  text-transform: uppercase;
  padding: 4%;
  color: #65F222;
  border: 4px solid #65F222;
  font-family: "Fruktur";
  font-size: 25px;
  text-decoration: none;
}
#compra a:hover {
  background-color: #6a1e5b;
}
#compra .active {
  background-color: #6a1e5b;
}

@media screen and (min-width: 3500px) {
  .menu ul li {
    font-size: 90px;
  }
  #compra a {
    border: 10px solid #65F222;
    font-size: 70px;
  }
}
@media screen and (min-width: 3000px) and (max-width: 3499px) {
  .menu ul li {
    font-size: 60px;
  }
  #compra a {
    border: 7px solid #65F222;
    font-size: 50px;
  }
}
@media screen and (min-width: 2200px) and (max-width: 2999px) {
  .menu ul li {
    font-size: 40px;
  }
  #compra a {
    border: 5px solid #65F222;
    font-size: 38px;
  }
}
@media screen and (max-width: 2199px) {
  .menu ul li {
    font-size: 30px;
  }
  #compra a {
    font-size: 28px;
  }
}
@media screen and (max-width: 900px) {
  .menu ul li {
    font-size: 22px;
  }
  #compra a {
    font-size: 20px;
  }
}
@media screen and (max-width: 750px) {
  .menu ul li {
    font-size: 18px;
  }
  #compra a {
    font-size: 16px;
  }
}
@media screen and (max-width: 599px) {
  header {
    justify-content: center;
  }
  header a.icon {
    display: block;
    position: absolute;
    right: 2%;
    left: auto;
    top: 8px;
  }
  .menu ul {
    display: none;
  }
  .header_responsive {
    align-items: start;
    display: block;
  }
  .menu_responsive {
    width: 30%;
    margin: auto;
    display: block;
    margin-top: 1%;
  }
  .menu_responsive ul {
    padding-left: 0%;
  }
  .menu_responsive ul li {
    padding-top: 8%;
    padding-bottom: 8%;
    margin: auto;
  }
  .compra {
    position: fixed;
    margin-left: auto;
    margin-right: auto;
  }
  #compra a {
    font-size: 18px;
  }
  .compra_responsive {
    width: 100%;
    position: fixed;
    top: 3%;
    margin-left: 42%;
  }
  .compra_responsive a {
    margin: auto;
  }
}
/* fuentes */
/* formato del texto */
/* sección de productos */
/* flecha para volver al inicio de la página */
body {
  font-family: "Baloo 2";
  line-height: 140%;
  color: #DEB4BD;
  font-size: 16px;
  text-align: justify;
  margin: 0%;
}

main {
  background-image: url(../../images/fondo_body.png);
  background-size: cover;
  background-attachment: fixed;
}
main h1 {
  margin-left: 3%;
}

h1 {
  color: #65F222;
  font-family: "Fruktur";
  text-transform: uppercase;
}

h2 {
  color: #65F222;
  font-family: "Fruktur";
  text-transform: uppercase;
}

h3 {
  color: #65F222;
  font-family: "Fruktur";
}

hr {
  border: 2px solid #65F222;
  margin-top: -1%;
  width: 96%;
}

.productos {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  padding-bottom: 4%;
  gap: 1%;
  justify-content: center;
}
.productos a {
  text-decoration: none;
}
.productos a p {
  color: #DEB4BD;
}

.producto {
  background-color: #1D0E19;
  border-radius: 10%;
  margin-bottom: 1%;
}
.producto h3 {
  text-transform: uppercase;
}
.producto:hover {
  background-color: #6a1e5b;
}

#flecha {
  position: fixed;
  z-index: 1;
  left: auto;
  right: 1%;
  bottom: 2%;
  cursor: pointer;
}
#flecha:hover {
  background-color: #6a1e5b;
  border-radius: 100%;
}

@media screen and (min-width: 3500px) {
  body {
    font-size: 48px;
  }
  h1 {
    font-size: 85px;
  }
  h2 {
    font-size: 75px;
  }
  h3 {
    font-size: 60px;
  }
  hr {
    margin-top: 0.1%;
    border: 6px solid #65F222;
  }
}
@media screen and (min-width: 3000px) and (max-width: 3499px) {
  body {
    font-size: 34px;
  }
  h1 {
    font-size: 65px;
  }
  h2 {
    font-size: 50px;
  }
  h3 {
    font-size: 38px;
  }
  hr {
    margin-top: 0.1%;
    border: 6px solid #65F222;
  }
}
@media screen and (min-width: 2200px) and (max-width: 2999px) {
  body {
    font-size: 22px;
  }
  h1 {
    font-size: 45px;
  }
  h2 {
    font-size: 40px;
  }
  h3 {
    font-size: 35px;
  }
  hr {
    margin-top: 0.1%;
    border: 4px solid #65F222;
  }
}
@media screen and (max-width: 900px) {
  body {
    font-size: 14px;
  }
  h2 {
    font-size: 18px;
  }
  .productos {
    width: 80%;
    margin: auto;
  }
  .producto {
    flex: 47%;
    margin: 1%;
  }
}
@media screen and (max-width: 750px) {
  body {
    font-size: 15px;
  }
  h2 {
    font-size: 20px;
  }
  h3 {
    font-size: 16px;
  }
  .productos {
    width: 90%;
  }
}
@media screen and (max-width: 599px) {
  body {
    font-size: 10px;
  }
  h2 {
    font-size: 12px;
  }
  .productos {
    width: 75%;
  }
  .producto {
    flex: 50%;
  }
}
/* pie de página */
footer {
  position: absolute;
  background-color: black;
  height: -moz-max-content;
  height: max-content;
  width: 100%;
  left: 0;
  text-align: center;
}
footer #rizha {
  margin-top: 2%;
  margin-bottom: 2%;
}
footer .redes {
  width: 22%;
  margin: auto;
  display: flex;
  justify-content: space-around;
  margin-bottom: 2%;
}
footer .redes img {
  padding: 10%;
  border-radius: 20%;
  background-color: #FFFFFF;
}
footer .redes img:hover {
  background-color: #65F222;
}
footer .discografia {
  display: flex;
  width: -moz-max-content;
  width: max-content;
  margin: auto;
  gap: 5%;
  padding-bottom: 2%;
}
footer .discografia a {
  text-decoration: none;
  color: #FFFFFF;
}
footer .discografia a:hover {
  color: #65F222;
}
footer .discografia a img:hover {
  background-color: #65F222;
  border-radius: 20%;
}

@media screen and (max-width: 650px) {
  footer .redes {
    width: 43%;
  }
}
@media screen and (max-width: 400px) {
  footer .redes {
    width: 50%;
  }
}
/* importamos el resto de estilos css */
.main_gira {
  height: 70vh;
}

.info {
  width: 80%;
  background-color: #1D0E19;
  padding: 2%;
  margin-left: auto;
  margin-right: auto;
}

/* importamos el resto de estilos css */
/* sección completa de la biografía */
/* imagen y texto que ocupa la altura de la imagen */
/* sección de vídeos destacados */
/* sección de próximos conciertos */
/* sitio del concierto */
/* resto de elementos: fecha y provincia */
/* sitio del concierto */
/* resto de elementos: fecha y provincia */
/* sitio del concierto */
/* resto de elementos: fecha y provincia */
/* sitio del concierto */
/* resto de elementos: fecha y provincia */
/* sitio del concierto */
/* resto de elementos: fecha y provincia */
/* sitio del concierto */
/* resto de elementos: fecha y provincia */
#titulo_bio {
  padding-top: 2%;
}

.bio {
  width: 80%;
  background-color: #1D0E19;
  padding: 2%;
  margin-bottom: 5%;
  margin-left: auto;
  margin-right: auto;
}

.columnas {
  display: flex;
  margin-bottom: 4%;
}
.columnas .imagen {
  margin-right: 3%;
  margin-left: 1%;
  margin-top: 1%;
}

.videos {
  display: flex;
  width: 90%;
  margin: auto;
  margin-bottom: 5%;
}
.videos iframe {
  flex: 48%;
  margin-inline: 2%;
  width: 600px;
  height: 350px;
}

.concierto {
  width: 86%;
  margin: auto;
  background-color: #1D0E19;
  display: flex;
  padding: 1.5%;
  margin-bottom: 1%;
}
.concierto p {
  margin: auto;
  text-transform: uppercase;
}
.concierto p:nth-child(2) {
  font-size: 20px;
}
.concierto p:first-child {
  font-size: 16px;
}
.concierto p:nth-child(3) {
  font-size: 16px;
}

.tickets a {
  border: 4px solid #65F222;
  color: #65F222;
  font-family: "Fruktur";
  font-size: 18px;
  text-decoration: none;
  padding: 3%;
}
.tickets a:hover {
  background-color: #6a1e5b;
}

.conciertos {
  margin-bottom: 5%;
}

@media screen and (min-width: 3500px) {
  .columnas {
    margin-bottom: 2%;
  }
  .columnas .imagen {
    margin-right: 2%;
    margin-left: 0%;
    margin-top: 0%;
  }
  .biografia {
    margin-top: 5%;
    margin-bottom: 2%;
  }
  .videos iframe {
    width: 500px;
    height: 1000px;
  }
  .concierto p:nth-child(2) {
    font-size: 60px;
  }
  .concierto p:first-child {
    font-size: 50px;
  }
  .concierto p:nth-child(3) {
    font-size: 50px;
  }
  .tickets a {
    border: 10px solid #65F222;
    font-size: 60px;
    padding: 5%;
  }
}
@media screen and (min-width: 2200px) and (max-width: 3499px) {
  .columnas {
    margin-bottom: 2%;
  }
  .videos iframe {
    width: 280px;
    height: 500px;
  }
  .concierto p:nth-child(2) {
    font-size: 32px;
  }
  .concierto p:first-child {
    font-size: 26px;
  }
  .concierto p:nth-child(3) {
    font-size: 26px;
  }
  .tickets a {
    border: 4px solid #65F222;
    font-size: 30px;
    padding: 4%;
  }
}
@media screen and (max-width: 900px) {
  .bio h1 {
    font-size: 20px;
  }
  .videos {
    flex-direction: column;
    height: 600px;
  }
  .videos iframe {
    align-self: center;
    width: 500px;
    margin-bottom: 3%;
  }
}
@media screen and (max-width: 750px) {
  .bio {
    width: 90%;
  }
  .concierto p:nth-child(2) {
    font-size: 18px;
  }
  .concierto p:first-child {
    font-size: 14px;
  }
  .concierto p:nth-child(3) {
    font-size: 14px;
  }
  .tickets a {
    font-size: 16px;
    border: 3px solid #65F222;
  }
}
@media screen and (max-width: 599px) {
  .bio {
    margin-top: 6%;
  }
  .bio h1 {
    font-size: 14px;
  }
  .videos {
    flex-direction: column;
    height: 400px;
  }
  .videos iframe {
    align-self: center;
    width: 350px;
    height: 200px;
    margin-bottom: 3%;
  }
  .concierto p:nth-child(2) {
    font-size: 16px;
  }
  .concierto p:first-child {
    font-size: 12px;
  }
  .concierto p:nth-child(3) {
    font-size: 12px;
  }
  .tickets a {
    font-size: 12px;
    border: 2px solid #65F222;
  }
}
@media screen and (max-width: 450px) {
  .videos iframe {
    width: 280px;
    height: 170px;
  }
  .concierto p:nth-child(2) {
    font-size: 14px;
  }
  .concierto p:first-child {
    font-size: 11px;
  }
  .concierto p:nth-child(3) {
    font-size: 11px;
  }
  .tickets a {
    font-size: 11px;
  }
}
.main_musica {
  padding: 2%;
}
.main_musica h2 {
  margin-left: 3%;
}

.albumes {
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  padding-bottom: 4%;
  gap: 8%;
  justify-content: center;
  margin: auto;
}

.eps {
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  padding-bottom: 4%;
  gap: 5%;
  justify-content: center;
  margin: auto;
}

.singles {
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  padding-bottom: 4%;
  gap: 5%;
  justify-content: center;
  margin: auto;
}

.canciones_album {
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  padding-bottom: 4%;
  gap: 8%;
  justify-content: center;
  margin: auto;
}

.canciones_ep {
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  padding-bottom: 4%;
  gap: 8%;
  justify-content: center;
  margin: auto;
}

.album {
  background-color: #1D0E19;
  border-radius: 10%;
  padding: 3%;
  padding-bottom: 2%;
  margin-top: 1%;
  width: -moz-max-content;
  width: max-content;
}
.album:hover {
  background-color: #6a1e5b;
}
.album a {
  text-decoration: none;
  color: #DEB4BD;
}

.ep {
  background-color: #1D0E19;
  border-radius: 10%;
  padding: 3%;
  padding-bottom: 2%;
  margin-top: 1%;
  width: -moz-max-content;
  width: max-content;
}
.ep:hover {
  background-color: #6a1e5b;
}
.ep a {
  text-decoration: none;
  color: #DEB4BD;
}

.ver_spotify {
  margin-top: 8%;
  margin-left: 25%;
  margin-bottom: 15%;
  border-radius: 10%;
}
.ver_spotify a {
  background-color: #1D0E19;
  border: 4px solid #65F222;
  border-radius: 30%;
  color: #65F222;
  font-family: "Fruktur";
  font-size: 13px;
  text-decoration: none;
  padding: 3%;
}
.ver_spotify a:hover {
  background-color: #6a1e5b;
}

.single {
  width: 40%;
  display: flex;
  background-color: #1D0E19;
  padding: 0.5%;
  margin-top: 1%;
}
.single p {
  margin: auto;
}

.cancion {
  width: 40%;
  display: flex;
  background-color: #1D0E19;
  padding: 0.5%;
  margin-top: 1%;
}
.cancion p {
  margin: auto;
}

@media screen and (max-width: 745px) {
  .album {
    padding: 5%;
  }
  .ep {
    padding: 5%;
  }
  .single {
    width: 80%;
  }
  .cancion {
    width: 80%;
  }
}
/* importamos el resto de estilos css */
.tienda_main {
  padding: 2%;
}

.categorias {
  padding-top: 2%;
}
.categorias ul {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  gap: 3%;
  justify-content: center;
  list-style: none;
  padding: 0%;
}
.categorias ul li {
  width: 13%;
}

.icono {
  background-color: #1D0E19;
  border-radius: 50%;
  padding: 10%;
  width: -moz-max-content;
  width: max-content;
  margin: auto;
}

#active {
  background-color: #6a1e5b;
}

.icono:hover {
  background-color: #6a1e5b;
}

.productos {
  padding-top: 2%;
}

.producto {
  width: 22%;
}

@media screen and (max-width: 900px) {
  .categorias ul li {
    width: 16%;
  }
}
@media screen and (max-width: 750px) {
  .categorias ul {
    gap: 2%;
  }
  .categorias ul li {
    width: 18%;
  }
}
@media screen and (max-width: 599px) {
  .categorias ul {
    gap: 2%;
  }
  .categorias ul li {
    width: 30%;
  }
  .categorias h2 {
    font-size: 20px;
  }
}
.main_galeria {
  padding: 5%;
  padding-top: 3%;
}

.row {
  margin-bottom: 8%;
}
.row .card {
  background-color: #1D0E19 !important;
  color: #DEB4BD;
  padding: 2%;
}
.row .card-title {
  color: #65F222;
}

.icon:hover {
  color: #FFFFFF;
}

.carousel {
  padding: 5%;
  background-color: #1D0E19;
}
.carousel .indicator {
  z-index: 0;
  border: 2px solid #DEB4BD;
  background-color: #6a1e5b;
  color: #DEB4BD;
  align-items: center;
  padding: 10px;
}
.carousel .carousel-inner {
  margin-top: 4%;
}/*# sourceMappingURL=main.css.map */