/* pie de página */
footer{
    position: absolute;
    background-color: #000000;
    height: 40%;
    width: 100%;
    left: 0;
    text-align: center;
}

footer #rizha{
    margin-top: 2%;
    margin-bottom: 2%;
    width: 180px;
}


footer .redes{
    width: 16%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    margin-bottom: 2%;
}

footer .redes img{
    width: 50%;
    padding: 10%;
    border-radius: 20%;
    background-color: #FFFFFF;
}

footer .redes img:hover {
    background-color: #65F222;
}


footer .discografia {
    display: flex;
    width: 35%;
    margin: auto;
    justify-content: space-evenly;
}


footer .discografia a{
    text-decoration: none;
    color: #FFFFFF;
}

footer .discografia a:hover {
    color: #65F222;
}

footer .discografia a img:hover {
    background-color: #64f222c7;
    border-radius: 20%;
}