.main_galeria {
    padding: 5%;
    padding-top: 3%;
}

.card {
    background-color: #1D0E19 !important;
    color: #DEB4BD;
    padding: 2%;
}

.card-title {
    color: #65F222;
}

.icon:hover {
    color: white;
}




.carousel-inner {
    padding: 5%;
    background-color: #1D0E19;
}

.container .indicator{
    border: 2px solid #DEB4BD;
    background-color: #6a1e5b;
    color: #DEB4BD;
    padding: 10%;
}

.container .carousel-inner .carousel-item > div {
    display: none;
}
.container .carousel-inner .carousel-item > div:first-child {
    display: block;
    margin: auto;
}



/* para pasar de elemento */
.container .carousel-inner .carousel-item.active,
.container .carousel-inner .carousel-item-next,
.container .carousel-inner .carousel-item-prev {
    display: flex;
}

.container .carousel-inner .carousel-item-end,
.container .carousel-inner .carousel-item-start { 
    transform: translateX(0);
}
