@import url('https://fonts.googleapis.com/css2?family=Fruktur&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+2&display=swap');


/* formato del texto */
body {
    font-family: 'Baloo 2';
    line-height: 140%;
    color: #DEB4BD;
    font-size: 16px;
    text-align: justify;
    margin: 0%;
}

/* encabezado con logo, menú y call-to-action */
header{
    position: fixed;
    top: 0;
    width: 100%;
    height: 10%;
    background-color: #000000;  
    color: #FFFFFF;
}

#logo {
    width: 130px;
    height: 68px;
}


#compra{
    width: max-content;
    margin-top: -3.5%;
    margin-left: auto;
    margin-right: 1%;
}

#compra a {
    text-transform: uppercase;
    padding: 4%;
    color: #65F222;
    border: 4px solid #65F222;
    font-family: 'Fruktur';
    font-size: 25px;
    text-decoration: none;
}


nav ul{
    display: flex;
    justify-content: space-evenly;
    width: fit-content;
    margin: auto;
    margin-top: -2%;
}

nav li{
    font-family: 'Fruktur';
    font-size: 26px;
    font-weight: bold;
    text-transform: uppercase;
    margin-right: 10%;
    list-style: none;
}

nav a{
    text-decoration: none;
    color: #FFFFFF;
}

nav a:hover, .active{
    color: #65F222;
}



main{
    background-image: url(../images/fondo_body.png);
    background-size: cover;
    background-attachment: fixed;
}


/* sección completa de la biografía */
.bio {
    width: 80%;
    background-color: #1D0E19;
    margin-top: 3%;
    padding: 3%;
    margin-bottom: 5%;
    margin-left: auto;
    margin-right: auto;
}


/* imagen y texto que ocupa la altura de la imagen */
.columnas{
    display: flex;
    margin-bottom: 4%;
}

.bio img{
    margin-right: 3%;
    width: 220px;
    height: 320px;
}


main h1 {
    margin-left: 3%;
}

h1, h2, h3 {
    color: #65F222;
    font-family: 'Fruktur';
}

h1, h2 {
    text-transform: uppercase;
}

hr{
    border-top: 5px solid #65F222; 
    margin-top: -1%;
    width: 96%;
}



/* sección de vídeos destacados */
.videos{
    display: flex;
    width: 90%;
    margin: auto;
    margin-bottom: 5%;
}

.videos iframe{
    margin-inline: 2%;
    width: 600px;
    height: 350px; 
}



/* sección de próximos conciertos */
.concierto{
    width: 86%;
    margin: auto;
    background-color: #1D0E19;
    display: flex;
    padding-top: 1%;
    padding-bottom: 1%;
    margin-bottom: 1%;
}

.concierto p{
    margin: auto;
    text-transform: uppercase;
}

/* sitio del concierto */
.concierto p:nth-child(2){
    font-size: 20px;
}

/* resto de elementos: fecha y provincia */
.concierto p:first-child, .concierto p:nth-child(3){
    font-size: 16px;
}


.tickets a{
    border: 4px solid #65F222;
    color: #65F222;
    font-family: 'Fruktur';
    font-size: 18px;
    text-decoration: none;
    padding: 4%;
}

.conciertos{
    margin-bottom: 5%;
}



/* sección de productos */
.productos{
    display: flex;
    justify-content: space-between;
    text-align: center;
    width: 70%;
    margin: auto;
    padding-bottom: 4%;
}

.productos a {
    background-color: #1D0E19;
    border-radius: 10%;
    width: 30%;
    text-decoration: none;
}

.productos a:hover {
    background-color: #6a1e5b;
}

.productos a img{
    width: 260px;
    margin-bottom: -8%;
}

.productos a p{
    margin-top: -4%;
    color: #DEB4BD;
}




/* flecha para volver al inicio de la página */
#flecha {
    position: fixed;
    z-index: 1;
    left: auto;
    right: 1%;
    bottom: 2%;
    width: 45px;
}



/* pie de página */
footer{
    position: absolute;
    background-color: #000000;
    height: 40%;
    width: 100%;
    left: 0;
    text-align: center;
}

footer #rizha{
    margin-top: 2%;
    margin-bottom: 2%;
    width: 180px;
}


footer .redes{
    width: 16%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    margin-bottom: 2%;
}

footer .redes img{
    width: 50%;
    padding: 10%;
    border-radius: 20%;
    background-color: #FFFFFF;
}

footer .redes img:hover {
    background-color: #65F222;
}


footer .discografia {
    display: flex;
    width: 20%;
    margin: auto;
    justify-content: space-between;
}

footer .discografia #logo_disco {
    width: 120px;
}

footer .discografia a{
    text-decoration: none;
    color: #FFFFFF;
}

footer .discografia a:hover {
    color: #65F222;
}

footer .discografia a img:hover {
    background-color: #64f222c7;
    border-radius: 20%;
}
